body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://th.bing.com/th/id/OIP.m88LJOb8vAMWM0QmSEND3wHaFj?rs=1&pid=ImgDetMain');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
table {
    width: 100%; 
    max-width: 600px; 
    background-color: green;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border:4px #33ff00 solid;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tr th h3{
    background-color: #f2f2f2;
}
h2  {
 color: yellow;
}
#username{
color:brown;
}
h3:hover {
 color: blue;
}

